.title_text {border-right: 1px solid #eee;padding: 0 25px;font-size: 16px;color: #616366;text-decoration: none;text-align: center;cursor: pointer;}
.title_text:HOVER {	color: #ef2423 !important;	font-size: 16px;background-color: #ffe48d ;}
.title_picture {border-right: 1px solid #eee;padding: 0 25px;font-size: 16px;color: #616366;text-decoration: none;text-align: center;cursor: pointer;}
.title_picture a{text-decoration: none;color: #111;}
.title_picture:HOVER {color: #ef2423 !important;font-size: 16px;background-color: #ffe48d;}
.title_redio {border-right: 1px solid #eee;padding: 0 50px 0 5%;font-size: 16px;color: #616366;}
.title_redio:HOVER {color: #ef2423;	font-size: 16px;}
.title_video {padding: 0 50px 0 5%;font-size: 16px;color: #616366;}
.title_video:HOVER {color: #ef2423;	font-size: 16px;}

ul{	list-style: none;}
.tabul{padding-left:20px;}
ul li{float:left;}
em{font-style:normal;}
/*.normal{width:100%;height:100% !important;display:inline-block;}*/
.divleft .divtop{border-bottom: 1px solid #efefef;}
.divtop .groupname .gname{color: #424243;font-size:16px;}
.divtop .groupname span{color: #adadaf;padding-left:24px;}
.divtop .btns{margin-left:20px;min-width:70px;}
.groupbtn .subtext{color:#adadaf;margin-right:20px; }
.divtop .checkAll{margin-bottom:10px;padding-left: 23px;}
.context{border: 1px solid #efefef;}
.divleft{/* width:85%; */width:940px;display: table-cell;border-right:1px solid #efefef;padding:22px;
     word-break: break-all;
    word-wrap: break-word;}
.divright{width:170px;display: table-cell;vertical-align: top;word-break: break-all;
    word-wrap: break-word;}
.ul{
	height:40px;
	line-height:40px;
	margin:6px 2.7% 0 136px;
	font-size:16px;
}
.ul li{
	width:150px;
	color: #616366;
}
.ul li.avtive{
	color: #ef2423 !important;
	
}
.ul li:after{
	display: :inline-block;
	content: '';
	width:1px;
	height:15px;
	background-color: #efefef;
}
.groupname{float:left;}
.groupbtn{float:right;}
.groupbtn .gbtn{display: inline-block;}
.checkAll{clear:both;}
.li_ul{width:150px;}
.itembtn .normal{
	box-sizing: border-box;
    -moz-box-sizing: border-box;  /*Mozilla  */
    -webkit-box-sizing: border-box; /* webkit */
    -o-box-sizing: border-box; /*Presto*/
    -ms-box-sizing: border-box; /*IE8*/
     width: 25%;
     border:1px solid #efefef;
     text-align: center;
     height: 30px;
     line-height: 26px;
     display: inline-block;
    background-position: center;
}
.itembtn .gedit{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -68px;
}
.itembtn .gmove{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -140px;
}
.itembtn .gdel{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px 5px;
}
.itembtn .gupdown{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -218px;
}

.itembtn .gedit:hover{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -106px;
}
.itembtn .gmove:hover{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -178px;
}
.itembtn .gdel:hover{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -32px;
}
.itembtn .gupdown:hover{
	background: rgba(0, 0, 0, 0) url("http://jimg.caishen.cn/cdn/easy/wxflag.png") no-repeat scroll 10px -252px;
}
.tabul .tabli{margin:10px  20px 22px 0 ; border: 2px solid #ffffff;}
.divbottom_li{border: 1px solid #efefef; border-bottom:0;}
.divbottom_li label{font-weight: normal;}
.divbottom_li .divbottom_span{text-align: center; height:32px;  line-height: 32px;}
.divbottom_li img{width:150px;height:150px;}
.divbottom_li img + span{display: block;width:150px;text-align: center;}
.divright ul li{
	display:block;
	width:170px;
	height:50px;
    color: #424243;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding-left:24px !important;
	}
.divright ul li.active{
	background-color: #f56a6a;
	color: #fff;
}
.divright ul li em{
	padding-left: 10px;
	color:#adadaf;
}
.divright ul li.active em{
	color:#fff;
}

label.check input{top: -8px;position: relative;}

.popcon .popbottom{
	margin-top: 10px;
}
.popcon .poptitle input{
	
}
.name-text{width: 97%}
.popcon .popbottom .btn-primary{
margin-right:10px;
}
.popcon .popbottom a{
	padding:3px 12px;
    min-width: 80px; 
}
.poptitle .groupedi{width:49%;display:inline-block;line-height: 20px;}
.bottomName{
	display:inline-block;
	position: relative;
	top:1px;
	left:5px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    width: 100px;
}
